<a href="https://colab.research.google.com/github/vinaydsprj/Basic-ML/blob/main/Tabular%20Play%20Ground%20-%20Jan%202022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('train.csv',index_col=['row_id'] )
# df['x_day'] = pd.DatetimeIndex(df['date']).day
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')




df['year']       = df['date'].dt.year
df['month']      = df['date'].dt.month
df['day']        = df['date'].dt.day
df['week']       = df['date'].dt.isocalendar().week
df['weekday']    = df['date'].dt.weekday
df['weekend']    = (df['date'].dt.weekday>4).astype(int)
df['day_of_yr']  = df['date'].dt.dayofyear
df['quarter']    = df['date'].dt.quarter

# df['day'] = df['date'].dt.dayofweek
# df['month_start'] = df['x_day'].apply(lambda x : 1 if (x < 8 ) else 0)
# df['x_weekend'] = df['day'].apply(lambda x: 1 if (x >=5 ) else 0)

# df.drop(columns=[ 'x_day', 'day'], axis = 1, inplace= True)

# # df.reindex(columns=['Name', 'Gender', 'Age', 'City', 'Education'])

# df = df.reindex(columns= ['country','date', 'store', 'product', 'month_start', 'x_weekend', 'num_sold'])

df = df.drop([ 'date'], axis = 1 )


df

        country       store         product  ...  weekend  day_of_yr  quarter
row_id                                       ...
0       Finland  KaggleMart      Kaggle Mug  ...        0          1        1
1       Finland  KaggleMart      Kaggle Hat  ...        0          1        1
2       Finland  KaggleMart  Kaggle Sticker  ...        0          1        1
3       Finland  KaggleRama      Kaggle Mug  ...        0          1        1
4       Finland  KaggleRama      Kaggle Hat  ...        0          1        1
...         ...         ...             ...  ...      ...        ...      ...
26293    Sweden  KaggleMart      Kaggle Hat  ...        0        365        4
26294    Sweden  KaggleMart  Kaggle Sticker  ...        0        365        4
26295    Sweden  KaggleRama      Kaggle Mug  ...        0        365        4
26296    Sweden  KaggleRama      Kaggle Hat  ...        0        365        4
26297    Sweden  KaggleRama  Kaggle Sticker  ...        0        365        4

[26298 rows x 12 columns]

In [2]:
# from scipy import stats

# print(df.shape)

# from scipy import stats

# df['z_score']=stats.zscore(df['num_sold'])


# filt = df['z_score'].abs() < 3
# print(df.shape)

In [3]:
# counter = 0
# rs,cs = df.shape

# df.drop_duplicates(inplace=True)

# if df.shape==(rs,cs):
#     print('\n\033[1mInference:\033[0m The dataset doesn\'t have any duplicates')
# else:
#     print(f'\n\033[1mInference:\033[0m Number of duplicates dropped/fixed ---> {rs-df.shape[0]}')

In [4]:
# df = pd.DataFrame(df.isnull().sum().sort_values(), columns=['Total Null Values'])
# df['Percentage'] = round(df['Total Null Values']/df.shape[0],3)*100
# print(df)

# print("\n\033[1mInference:\033[0m The datset doesn't have any inconsistant values.")

In [5]:
# import pandas as pd
# import numpy as np

# df1 = pd.read_csv('test.csv',index_col=['row_id'] )
# df1['x_day'] = pd.DatetimeIndex(df1['date']).day
# df1['date'] = pd.to_datetime(df1['date'], format='%Y-%m-%d')

# df1['day'] = df1['date'].dt.dayofweek
# df1['month_start'] = df1['x_day'].apply(lambda x : 1 if (x < 8 ) else 0)
# df1['x_weekend'] = df1['day'].apply(lambda x: 1 if (x >=5 ) else 0)

# df1.drop(columns=['date', 'x_day', 'day'], axis = 1, inplace= True)

# df1 = df1.reindex(columns= ['country', 'store', 'product', 'month_start', 'x_weekend', ])

# df1

In [6]:

print(df.shape)
from scipy import stats



from scipy import stats

df['z_score']=stats.zscore(df['num_sold'])



df = df.loc[df['z_score'] < 3]

print(df.shape)

(26298, 12)
(25895, 13)

In [7]:
X = df.copy()
X= X.drop(['num_sold','z_score'], axis= 1)
y = df.iloc[:,3].values
X = X.iloc[:,:].values

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct1 = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [4])], remainder='passthrough')
X = np.array(ct1.fit_transform(X))

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct1 = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [-9])], remainder='passthrough')
X = np.array(ct1.fit_transform(X))

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct1 = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [-8])], remainder='passthrough')
X = np.array(ct1.fit_transform(X))

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0,max_features = 12)
regressor.fit(X_train, y_train)

RandomForestRegressor(max_features=12, n_estimators=10, random_state=0)

In [14]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[205.  228. ]
 [998.7 931. ]
 [412.5 382. ]
 ...
 [ 90.1  91. ]
 [508.7 455. ]
 [724.7 721. ]]

In [15]:
from sklearn.metrics import mean_squared_error

rms = mean_squared_error(y_test, y_pred, squared=False)
rms

32.05668092080996